language: node_js
node_js:
  - "8"
env:
    - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  - npm install
script:
  - npm run test:min
  - npm run lint
after_success:
  - npm run cover
  - npm run cover:export
