doctype html
html
  head
    title Authorize Silex
    // persona sdk
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    script(src="https://login.persona.org/include.js")
    // login.css is inserted as a template to avoid having it in a web accessible folder
    // link(rel="stylesheet", href="/unifile-templates/login.css", type="text/css")
    style(type="text/css").
      #{css}
  body.all-text.pre-auth
    div.logo-open-pages
    div.main-container
        h1.title Unifile would like access to your files and folders on Open Pages.
        label#error-text
        .buttons
          #signin.button.pre-auth Sign in / Sign up
          #close.button.post-auth Ok

        script(type='text/javascript').
          var signinLink = document.getElementById('signin');
          if (signinLink) {
            signinLink.onclick = function() { navigator.id.request(); };
          }
          var signoutLink = document.getElementById('signout');
          if (signoutLink) {
            signoutLink.onclick = function() { navigator.id.logout(); };
          }
          function simpleXhrSentinel(xhr) {
            return function() {
              if (xhr.readyState == 4) {
                var errorText = document.getElementById('error-text');
                if (xhr.status == 200){
                  errorText.innerHTML = 'Ok, you can close this window now';
                  window.close();
                }
                else {
                  navigator.id.logout();
                  errorText.innerHTML = 'Invalid access codes (' + xhr.status + ')';
                }
              }
            }
          }

          function verifyAssertion(assertion) {
            console.log("verifyAssertion", assertion);
            // Your backend must return HTTP status code 200 to indicate successful
            // verification of user's email address and it must arrange for the binding
            // of currentUser to said address when the page is reloaded
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/v1.0/open-pages-auth-submit", true);
            var param = "assertion=" + assertion + "&audience=" + window.location.href;
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader("Content-length", param.length);
            xhr.setRequestHeader("Connection", "close");
            xhr.send(param); // for verification by your backend

            xhr.onreadystatechange = simpleXhrSentinel(xhr);
          }
          // Go!
          navigator.id.watch( {
              onlogin: verifyAssertion
            });
